{% extends "base.html" %}

{% block content %}

{% if message %}
    <div class="alert alert-{{ message[1] }}">
        <p>{{ message[0] }}</p>
    </div>
{% end %}


{% if alarm_manager.is_set() %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Alarm state</h3>
    </div>
    <div class="panel-body">
        <p>
            The alarm will start at {{ alarm_manager.get_ring_time() }} and play playlist {{ alarm_manager.playlist.name }}.<br/>
           
            <a role="button" class="btn btn-success btn-large btn-warning" href="/alarmclock/cancel/">Cancel alarm</a>
        </p>
    </div>
</div>

{% else %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Alarm state</h3>
    </div>
    <div class="panel-body">
        <p>
            No alarm has been set.
    
            <form class="form-horizontal" action="/alarmclock/set/" method="post"> <!-- TODO proper mention of the app name instead of putting it raw in the URL-->

            <fieldset>

            <legend>Set an alarm</legend>

            <div class="form-group clockpicker">
              <label class="col-md-4 control-label" for="time">Time</label>
              <div class="col-md-4">
                <input type="text" name="time" class="form-control" value="08:00">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="playlist">Playlist</label>
              <div class="col-md-4">
                <select id="playlist" name="playlist" class="form-control">
                    {% for playlist in playlists %}
                        <option value="{{ playlist.uri }}">{{ playlist.name }}</option>
                    {% end %}
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="checkboxes">Random Track Order</label>
              <div class="col-md-4">
                <label class="checkbox-inline" for="checkboxes-0">
                  <input name="random" id="checkboxes-0" value="1" type="checkbox">
                </label>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="volume">Alarm volume</label>
              <div class="col-md-4">
                <input type="range" name="volume" class="form-control" min="1" max="100" value="100" title="100" onchange="this.title=this.value; this.style.backgroundColor='rgb(255, '+Math.round(this.value*2.55)+', '+Math.round(this.value*2.55)+')';">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="incsec">Seconds to full volume</label>
              <div class="col-md-4">
                <input type="range" name="incsec" class="form-control" min="0" max="300" value="30" title="30" onchange="this.title=this.value;">
              </div>
            </div>

            <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="Submit">
            </div>

           </fieldset>

            </form>
        </p>

    </div>
</div>
{% end %}

{% end %}

{% block extra-js %}
<script type="text/javascript">
$('.clockpicker').clockpicker({'autoclose':true});
</script>
{% end %}
